nav{
    position: relative;
    left: 900px;
    height: 0px;
}

nav a{
    background-color: black;
    color: white;
}

#logo{
    width: 30%;
    display: inline-block;
}

main>img{
    width:30%;
     margin-top:2%;
}